body {
  margin: 0;
}

.particles-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;

  & > .wrapper {
    width: 100%;
    height: 100%;

    & > canvas {
      position: absolute;
    }
  }
}

.theme-changer {
  margin: 1rem 0 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
